@font-face {
	font-family: 'futura-regular';
	src: url('/fonts/futura-regular/futura.woff') format('woff'),
		 url('/fonts/futura-regular/futura.ttf') format('truetype'),
		 url('/fonts/futura-regular/futura.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  