
//----------------------------------------------------
//            SMALLER THAN 1440px
//----------------------------------------------------
@media screen and (max-width: 1440px) {
   

}


//----------------------------------------------------
//            SMALLER THAN 1200px
//----------------------------------------------------
@media screen and (max-width: 1200px) {


}

//----------------------------------------------------
//            SMALLER THAN 992px
//----------------------------------------------------
@media screen and (max-width: 992px) {
    
    // ************** ENCUESTA *************//
    .ambito-area h2 {
        font-size: 2em;
    }

    .encuesta-container {
        padding: 20px 30px 40px;
    }

    // ************** RESULTADOS *************//
    // (No hay estilos específicos para esta resolución)
   
}

//----------------------------------------------------
//            SMALLER THAN 768px
//----------------------------------------------------
@media screen and (max-width: 768px) {

    // ************** GENERAL & LAYOUT *************//
    body {
        //line-height: auto;
    }
    
    main {
        padding-inline: 1em;
    }

    // ************** HEADER *************//
    header {
        display: flex;
        flex-direction: row-reverse;
    }

    // ************** ENCUESTA *************//
    .layout-encuesta {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .encuesta-sidebar {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 0 35px 0;
    }
    .encuesta-container {
        p.pregunta-bold {
            font-size: 1.1em !important;
        }

        label {
            font-size: 1em;
            line-height: 1.1em;
        }
    }

    // ************** RESULTADOS (ÁMBITO Y FINAL) *************//
    .resultado-container {
        width: auto;
        padding: 20px;

        h2 {
            text-align: center;
        }
    }
    .texto-eval-final {
        padding: 10px;
        margin: 0;
    }

    // ************** FOOTER *************//
    .page-encuesta .copy-encuesta {
        max-width: 400px;
    }
}


//----------------------------------------------------
//            SMALLER THAN 576px
//----------------------------------------------------
@media screen and (max-width: 576px) {

    // ************** HEADER *************//
    .header-desc { 
        font-size: 0.8em;
    }

     #logo-container img.logo-xamle-header {
        // TODO: Revisar si este selector sigue siendo necesario o se puede generalizar
        width: 90px;   /* reduce al 50% del contenedor */
        height: auto; /* mantiene la proporción */
     }


     // ************** FORMULARIO *************//

     .form-text {
        font-size: 1.1em;
        padding: 22px 18px;
     }

     .form-main {
        padding: 0 20px 20px;

        fieldset {
            display: flex;
            flex-direction: column;
            width: 85%;
        }

        legend {
            font-size: 1em;
        }

        h1 {
            font-size: 1.4em;
        }
     }

     // ************** FOOTER *************//

     .footer small {
        width: 90%;
        margin:  0 auto;
        line-height: 1.2em;
     }
}

//----------------------------------------------------
//            SMALLER THAN 400px
//----------------------------------------------------
@media screen and (max-width: 400px) {
    
    // ************** HEADER *************//
    .header-desc { 
        font-size: 0.73em;
        line-height: 1em;
    }

    // ************** ENCUESTA *************//

    .resultado-container {
        margin: -20px 0 100px 0
    }

    .score-animado {
        text-align: center;
    }

    .nav-buttons {
        gap: 6px;
    }
}